* {
  margin: 0;
}

body {
  margin: 0;
  padding: 0;
  width: 100%;
}

a {
  text-decoration: none;
  color: inherit;
}

main {
  max-width: 1200px;
  margin: 0 auto;
  font-family: "Arial", sans-serif;
}

.head {
  margin-left: 20px;
  margin-right: 20px;
  padding: 5px;
  position: relative;
  display: flex;
  justify-content: space-between;
  height: 60px;
  font-family: "Arial", sans-serif;
}

.info {
  margin-right: auto;
}

.website {
  font-weight: 400;
  font-size: 20px;
  line-height: 120%;
}

.web-info {
  font-weight: 700;
  font-size: 20px;
  line-height: 120%;
}
.navigation {
  font-weight: 400;
  font-size: 17px;
  line-height: 150%;
  display: flex;
  gap: 35px;
}

.nav-link {
  display: flex;
  justify-content: center;
  align-items: center;
}

.servises {
  margin-left: 28px;
  display: flex;
  gap: 40px;
}

.header-row {
  width: 100%;
  position: relative;
  background-color: #545454;
  height: 9px;
}
.button-menu {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.button-text {
  display: flex;
  flex-direction: column;
  font-weight: 400;
  font-size: 11px;
  text-align: center;
}

.fa-solid {
  font-weight: 900;
  font-size: 36px;
  line-height: 100%;
  text-align: center;
  color: #000;
}

.sections {
  display: flex;
  flex-direction: column;
  justify-content: start;
  margin: 90px 110px;
}

.section-text {
  display: flex;
  font-weight: 700;
  font-size: 22px;
  line-height: 118%;
  color: #000;
  margin-bottom: 16px;
}
.img-container {
  position: relative;
}

.square {
  width: 36px;
  height: 36px;
  background: #e40422;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
}
.cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}
.card-res {
  font-weight: 400;
  font-size: 11px;
  line-height: 120%;
  color: #454545;
  margin-bottom: 12px;
}
.card-title {
  font-weight: 700;
  font-size: 17px;
  line-height: 135%;
  color: #000;
}
.card-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: #000;
  display: inline;
}
.more {
  font-size: 14px;
  color: #0047d3;
  display: inline-flex;
  align-items: center;
  cursor: pointer;
}
.arrow1 {
  color: #0047d3;
  font-size: 12px;
}

.arrow2 {
  font-weight: 900;
  font-size: 18px;
  line-height: 150%;
  text-align: center;
  color: #fff;
}
